<!DOCTYPE html>
<html>
<head>
    <%- include partials/head.ejs %>
    <link rel="stylesheet" href="/css/index.css" />
</head>
<body>
    <div id="wrap">
        <h1>Hello World!</h1>
        <div>
            <input id="questionInput" type="text" maxlength="750" />
            <button id="submit">Submit</button>
        </div>
    </div>

    <script src="/js/index.js"></script>
</body>
</html>
